.custom-datatable {
	min-width: 860px;

	.mat-mdc-header-row,
	.mat-mdc-header-cell {
		background-color: rgb(248 250 252 / 0.8) !important;
		backdrop-filter: blur(6px);
	}

	.mat-column-image {
		flex: 0 1 100px;
		align-items: center;
	}

	.mat-column-price {
		flex: 0 1 100px;
		align-items: center;
		justify-content: center;
	}

	.mat-column-state {
		flex: 0 1 100px;
		align-items: center;
		justify-content: center;
	}

	.mat-column-action {
		flex: 0 1 120px;
		align-items: center;
		justify-content: flex-end;
	}
}