<div class="auth-page-wrapper pt-5">
  <!-- auth page bg -->
  <div class="auth-one-bg-position auth-one-bg" id="auth-particles">
    <div class="bg-overlay"></div>
    <div class="shape">
      <svg xmlns="http://www.w3.org/2000/svg" version="1.1" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 1440 120">
        <path d="M 0,36 C 144,53.6 432,123.2 720,124 C 1008,124.8 1296,56.8 1440,40L1440 140L0 140z"></path>
      </svg>
    </div>
  </div>

  <!-- auth page content -->
  <div class="auth-page-content">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="text-center mt-sm-5 mb-4 text-white-50">
            <div>
              <a routerLink="/" class="d-inline-block auth-logo">
                <img src="assets/images/logo-light.png" class="auth-page-img" alt="" height="20">
              </a>
            </div>
            <p class="mt-3 fs-15 fw-medium">
              Customize your Ads, Display, and Track your Usage with Bracezin Kiosk.
            </p>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6 col-xl-5">
          <div class="card mt-4">

            <div class="card-body p-4">
              <div class="text-center mt-2">
                <h5 class="text-primary">Create New Account</h5>
                <p class="text-muted">Get your free bracezin account now</p>
              </div>
              @if(apiError){
                <div class="alert alert-danger border-0 mt-3 mb-0" role="alert">{{ apiError }}</div>
              }
              <div class="p-2 mt-4">
                <form [formGroup]="form" (ngSubmit)="onSubmit()">
                  <div class="mb-2">
                    <label for="username" class="form-label">Username <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="username" placeholder="Enter Username" required
                      formControlName="username" [ngClass]="{ 'is-invalid': submitted && f['username'].errors }">
                    @if (form?.get('username').touched && form?.get('username').errors?.required) {
                      <div class="invalid-feedback d-block">{{ 'Required' | titlecase }}</div>
                    }
                    @if (form?.get('username').hasError('minlength')) {
                      <div class="invalid-feedback d-block">{{ 'Must be at least 3 Characters' | titlecase }}</div>
                    }
                    @if (form?.get('username').hasError('maxlength')) {
                      <div class="invalid-feedback d-block">{{ 'Not Exceed more than 25 Characters' | titlecase }}
                      </div>
                    }
                  </div>

                  <div class="mb-2">
                    <label for="email" class="form-label">Email <span class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="email" placeholder="Enter email address" required
                      formControlName="email" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }">
                    @if (form?.get('email').touched && form?.get('email').errors?.required) {
                      <div class="invalid-feedback d-block">{{ 'Required' | titlecase }}</div>
                    }
                    @if (form?.get('email').hasError('email')) {
                      <div class="invalid-feedback d-block">{{ 'A Valid Email Required' | titlecase }}</div>
                    }
                    @if (form?.get('email').hasError('minlength')) {
                      <div class="invalid-feedback d-block">{{ 'Must be at least 4 Characters' | titlecase }}</div>
                    }
                    @if (form?.get('email').hasError('maxlength')) {
                      <div class="invalid-feedback d-block">{{ 'Not Exceed more than 50 Characters' | titlecase }}
                      </div>
                    }
                  </div>

                  <div class="mb-2">
                    <label for="mobile" class="form-label">Mobile <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="mobile" placeholder="Enter Mobile" required
                      formControlName="mobile" [ngClass]="{ 'is-invalid': submitted && f['mobile'].errors }">
                    @if (form?.get('mobile').touched && form?.get('mobile').errors?.required) {
                      <div class="invalid-feedback d-block">{{ 'Required' | titlecase }}</div>
                    }
                    @if (form?.get('mobile').hasError('minlength')) {
                      <div class="invalid-feedback d-block">{{ 'Must be at least 8 Characters' | titlecase }}</div>
                    }
                    @if (form?.get('mobile').hasError('maxlength')) {
                      <div class="invalid-feedback d-block">{{ 'Not Exceed more than 10 Characters' | titlecase }}
                      </div>
                    }
                  </div>

                  <div class="mb-2">
                    <label for="type" class="form-label">type <span class="text-danger">*</span></label>
                    <select name="type" formControlName="type" class="form-control" id="type" required
                      matTooltip="Select Type" [ngClass]="{ 'is-invalid': submitted && f['type'].errors }"
                      placeholder="Select Type">
                      <option value="" disabled>— Select Type —</option>
                      <option *ngFor="let type of types" [value]="type">
                        {{ type | titlecase }}
                      </option>
                    </select>
                    @if (form?.get('type').touched && form?.get('type').errors?.required) {
                      <div class="invalid-feedback d-block">{{ 'Required' | titlecase }}</div>
                    }
                  </div>

                  <div class="mb-2">
                    <label for="password" class="form-label">Password <span class="text-danger">*</span></label>
                    <div class="position-relative auth-pass-inputgroup">
                      <input [type]="fieldTextType ? 'text' : 'password'" class="form-control pe-5 password-input"
                        placeholder="Enter password" id="password-input" aria-describedby="passwordInput" required
                        formControlName="password" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }">
                      <button
                        class="btn btn-link position-absolute end-0 top-0 text-decoration-none shadow-none text-muted password-addon"
                        type="button" id="password-addon">
                        <i class="ri-eye-fill align-middle"
                          [ngClass]="{'mdi-eye-off-outline': !fieldTextType, 'mdi-eye-outline': fieldTextType }"
                          (click)="toggleFieldTextType()"></i>
                      </button>
                      @if (form?.get('password').touched && form?.get('password').errors?.required) {
                        <div class="invalid-feedback d-block">{{ 'Required' | titlecase }}</div>
                      }
                      @if (form?.get('password').hasError('minlength')) {
                        <div class="invalid-feedback d-block">{{ 'Must be at least 8 Characters' | titlecase }}
                        </div>
                      }
                      @if (form?.get('password').hasError('maxlength')) {
                        <div class="invalid-feedback d-block">{{ 'Not Exceed more than 25 Characters' | titlecase }}
                        </div>
                      }
                      @if (form?.get('password').hasError('pattern')) {
                        <div class="invalid-feedback d-block">
                          {{ 'Atleast 1-Upper(A-Z), 1-Lower(a-z), 1-number(0-9)' | titlecase }}
                        </div>
                      }
                    </div>
                  </div>

                  <div class="mb-4">
                    <p class="mb-0 fs-12 text-muted fst-italic">
                      By registering you agree to the Bracezin
                      <a href="javascript:void(0);" class="text-primary text-decoration-underline fst-normal fw-medium">
                        Terms of Use
                      </a>
                    </p>
                  </div>

                  <div class="mt-4">
                    <button class="btn btn-success w-100" type="submit">Sign Up</button>
                  </div>
                  <auth-common-social-login></auth-common-social-login>
                </form>
              </div>
            </div>
          </div>

          <div class="mt-4 text-center">
            <p class="mb-0">Already have an account ? <a routerLink="/auth/signin"
                class="fw-semibold text-primary text-decoration-underline"> Signin </a>
            </p>
          </div>

        </div>
      </div>
    </div>
  </div>

  <auth-common-footer></auth-common-footer>
</div>