<div class="p-4">
  <h5 class="mb-3">Change Password</h5>
  <p class="text-muted mb-3">Please enter New password to Change.</p>

  <div class="form-group mb-2">
    <div class="input-group">
      <input [type]="showPassword ? 'text' : 'password'" class="form-control" placeholder="Enter new password"
        [formControl]="passwordControl" (keyup.enter)="confirm()" autofocus />
      <button type="button" class="btn btn-outline-secondary" (click)="togglePasswordVisibility()">
        <i [class]="showPassword ? 'ri-eye-off-line' : 'ri-eye-line'"></i>
      </button>
    </div>
    @if (passwordControl.touched && passwordControl.errors?.required) {
    <div class="invalid-feedback d-block">{{ 'Required' | titlecase }}</div>
    }
    @if (passwordControl.hasError('minlength')) {
    <div class="invalid-feedback d-block">{{ 'Must be at least 8 Characters' | titlecase }}
    </div>
    }
    @if (passwordControl.hasError('maxlength')) {
    <div class="invalid-feedback d-block">{{ 'Not Exceed more than 25 Characters' | titlecase }}
    </div>
    }
    @if (passwordControl.hasError('pattern')) {
    <div class="invalid-feedback d-block">
      {{ 'Atleast 1-Upper(A-Z), 1-Lower(a-z), 1-number(0-9)' | titlecase }}
    </div>
    }
  </div>

  <div class="d-flex justify-content-end gap-2 mt-4">
    <button class="btn btn-light" (click)="cancel()">Cancel</button>
    <button class="btn btn-primary" (click)="confirm()"
      [disabled]="passwordControl.invalid || !passwordControl.dirty">Change</button>
  </div>
</div>