<app-breadcrumbs title="Admin" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<mat-drawer-container>
  <mat-drawer #sideBar [autoFocus]="false" [mode]="'over'" [position]="'end'" class="side-drawer">
    @if(sideView === 'form') {
    <app-admin-form [admin]="admin" (onClose)="sideBar.close()"></app-admin-form>
    }
  </mat-drawer>
  <mat-drawer-content>
    <div class="items-layout">
      <div class="gap-2 mb-4" fxLayout="row" fxLayoutAlign="space-between center">
        <div fxFlex="25">
          <div class="search-wrapper">
            <lib-search search="true" (onSearch)="adminService.onSearch($event)"></lib-search>
          </div>
        </div>
        <div fxFlex="25" class="flex justify-content-end">
          <button (click)="addForm()" class="btn btn-xs btn-primary rounded-full"
            *ngIf="userService.permissionMatch(['add admin'])">
            <i class="ri-add-line align-bottom me-1"></i>
            Add Admin
          </button>
        </div>
      </div>
      <div class="team-list grid-view-filter">
        @if(admins && admins.length > 0) {
        <div class="row maxHeight" infiniteScroll [infiniteScrollDistance]="1.5" [infiniteScrollThrottle]="100"
          (scrolled)="adminService.onScroll()" [scrollWindow]="false">
          @for(admin of allAdmins; track admin) {
          <div class="col">
            <share-user-card-two [user]="admin" (onView)="viewItem($event)" (onEdit)="addForm($event)"
              (onDelete)="delete($event)"></share-user-card-two>
          </div>
          }
        </div>
        <div class="px-3 py-2 w-full bg-light">
          <div class="flex items-center justify-between gap-2 w-full bg-white p-2 rounded">
            <div class="text-muted fs-6">
              <strong>{{ allAdmins.length || 0 }} </strong> off
              {{dataLength}} {{dataLength > 1 ? 'Admins' : 'Admin'}} loaded...
            </div>
            <div class="text-muted fs-6">Scroll to get more Admins...</div>
          </div>
        </div>
        } @else {
        <div class="section-height">
          <lib-norecord title="No Admin Found"
            subTitle="We couldn't find any Admin. Please add new Admin to see them here."
            [addButton]="{'title':'Add Admin', 'icon': 'add_circle', 'color': 'btn-success','tooltip':'Add Admin'}"
            (addNew)="addForm()" [showAddButton]="userService.permissionMatch(['add admin'])"></lib-norecord>
        </div>
        }
      </div>
    </div>
  </mat-drawer-content>
</mat-drawer-container>