<div class="card">
  <div class="card-body">
    <h5 class="card-title mb-5">Person Details</h5>
    <div class="table-responsive table-height">
      <table class="table table-borderless mb-0">
        <tbody>
          <tr>
            <th scope="row" class="ps-0" style="width: 20%;">Code :</th>
            <td class="text-muted">{{ (user.code || 'N/A') | uppercase }}</td>
          </tr>
          <tr>
            <th scope="row" class="ps-0">Type :</th>
            <td class="text-muted">{{ (user.type || 'N/A') | titlecase }}</td>
          </tr>
          <tr>
            <th scope="row" class="ps-0">Mobile :</th>
            <td class="text-muted">{{ user.mobile || 'N/A' }}</td>
          </tr>
          <tr>
            <th scope="row" class="ps-0">Email :</th>
            <td class="text-muted">{{ (user.email || 'N/A') | lowercase }}</td>
          </tr>
          <tr>
            <th scope="row" class="ps-0">Company Name :</th>
            <td class="text-muted">{{ (user?.detail?.company_name || 'N/A') | titlecase }}
            </td>
          </tr>
          <tr>
            <th scope="row" class="ps-0">Company Register Number :</th>
            <td class="text-muted">
              {{ (user?.detail?.company_register_no || 'N/A') | uppercase }}</td>
          </tr>
          <tr>
            <th scope="row" class="ps-0">Vat Number :</th>
            <td class="text-muted">{{ (user?.detail?.vat_number || 'N/A') | uppercase }}</td>
          </tr>
          <tr>
            <th scope="row" class="ps-0">EIN Number :</th>
            <td class="text-muted">{{ (user?.detail?.ein_number || 'N/A') | uppercase }}</td>
          </tr>
          <tr>
            <th scope="row" class="ps-0">Address :</th>
            <td class="text-muted">{{ (user.fullAddress || 'N/A') | titlecase }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>