@if(viewMode == 'one') {
<div class="card card-info mb-2">
	<div class="card-header bg-info text-white d-flex justify-content-between align-items-center py-3">
		<div>
			<h5 class="mb-0 text-white">{{ 'Delivery Address' | uppercase }}</h5>
		</div>
		<button type="button" class="btn btn-light btn-xs text-dark rounded-circle shadow-xs header-btn" aria-label="Close"
			(click)="onEdit.emit(address)"><i class="ri-arrow-right-s-line align-middle lh-1"></i></button>
	</div>
	<div class="card-body">
		<div class="d-flex align-items-center">
			<div class="flex-shrink-0">
				<ngx-avatars [name]="address?.title || 'Default Address'" size="40" initialsSize="2" textSizeRatio="4"
					[round]="true">
				</ngx-avatars>
			</div>
			<div class="flex-grow-1 ms-3">
				<p class="card-text fw-bold">{{ (address?.title || 'Default Address') | titlecase }}</p>
				<p class="card-text" *ngIf="address?.line_1">{{ address?.line_1 | titlecase }}</p>
				<p class="card-text" *ngIf="address?.line_2">{{ address?.line_2 | titlecase }}</p>
				<p class="card-text" *ngIf="address?.landmark">({{ address?.country | titlecase }})</p>
				<p class="card-text" *ngIf="address?.city">City: {{ address?.city | titlecase }}</p>
				<p class="card-text" *ngIf="address?.state">State: {{ address?.state | titlecase }}</p>
				<p class="card-text" *ngIf="address?.region">Region: {{ address?.region | titlecase }}</p>
				<p class="card-text">
					<span *ngIf="address?.country">Country: {{ address?.country | titlecase }}</span>
					<span *ngIf="address?.pincode"> - {{ address?.pincode | titlecase }}</span>
				</p>
			</div>
		</div>
	</div>
	<div class="card-footer">
		<div class="text-center">
			<a href="javascript:void(0);" class="link-light" (click)="onEdit.emit(address)">Change <i
					class="ri-arrow-right-s-line align-middle lh-1"></i></a>
		</div>
	</div>
</div>
}

@if(viewMode == 'two') {
<div class="card border card-border-info mb-2">
	<div class="card-header">
		<span class="badge bg-danger align-middle fs-10 float-end">Delivery Address</span>
		<h6 class="card-title mb-0">{{ address?.title || 'Default Address' | titlecase}}
		</h6>
	</div>
	<div class="card-body">
		<p class="card-text" *ngIf="address?.door_no">{{ address?.door_no }}</p>
		<p class="card-text" *ngIf="address?.line_1">{{ address?.line_1 | titlecase }}</p>
		<p class="card-text" *ngIf="address?.line_2">{{ address?.line_2 | titlecase }}</p>
		<p class="card-text" *ngIf="address?.landmark">({{ address?.country | titlecase }})</p>
		<p class="card-text" *ngIf="address?.region">Region: {{ address?.region | titlecase }}</p>
		<p class="card-text" *ngIf="address?.city">City: {{ address?.city | titlecase }}</p>
		<p class="card-text" *ngIf="address?.state">State: {{ address?.state | titlecase }}</p>
		<p class="card-text">
			<span *ngIf="address?.country">Country: {{ address?.country | titlecase }}</span>
			<span *ngIf="address?.pincode"> - {{ address?.pincode | titlecase }}</span>
		</p>
		<div class="text-end">
			<a href="javascript:void(0);" class="link-primary fw-medium" (click)="onEdit.emit(address)">Change<i
					class="ri-arrow-right-line align-middle"></i></a>
		</div>
	</div>
</div>
}