<div class="card form-dialog">
  <div class="card-header bg-info text-white d-flex justify-content-between align-items-center py-3">
    <div>
      <h5 class="mb-0 text-white">{{ 'Choose Enquiry' | uppercase }}</h5>
    </div>
    <button type="button" class="btn btn-light btn-xs text-dark rounded-circle shadow-xs header-btn" aria-label="Close"
      (click)="closeView()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div class="search-panel bg-light-subtle">
    <lib-search search="true" (onSearch)="enquiryService.onSearch($event)"></lib-search>
  </div>
  <div class="card-body bg-gray-100">
    <div data-simplebar>
      @if(items && items.length > 0) {
      @for(item of items; track item) {
      <div class="card mb-2 border-0 shadow-sm cursor-pointer enquiry-card p-0" (click)="chooseItem(item)">
        <div class="card-header d-flex justify-content-between align-items-center py-1 px-2 bg-cyan-200">
          <div class="d-flex align-items-center justify-content-start gap-2">
            <ngx-avatars [name]="item?.customer?.name" [src]="item?.customer?.imageUrl" size="32" initialsSize="2"
              textSizeRatio="3" [round]="true"></ngx-avatars>
            <div class="text-truncate grid">
              <h6 class="mb-0 text-truncate fw-bold">
                {{item?.customer?.name}}
              </h6>
              <small class="text-muted text-truncate d-block"
                *ngIf="item?.customer?.mobile">{{item?.customer?.mobile}}</small>
              <small class="text-muted text-truncate d-block"
                *ngIf="item?.customer?.email">{{item?.customer?.email}}</small>
            </div>
          </div>
          <div class="grid justify-content-end align-items-center text-center">
            <span class="fw-bold fs-14 text-dark">{{ item?.code | uppercase }}</span>
            <span class="badge bg-light text-dark border rounded-pill px-3 py-2 fw-normal">
              <i class="ri-time-line align-middle me-1"></i>{{ item.created_at | date:'MMM dd, yyyy' }}
            </span>
          </div>
        </div>

        <div class="card-body p-4">

          <div class="row g-0">
            <!-- Customer column -->
            <div class="col-4 pe-4 border-end">
              <div class="d-flex align-items-center gap-2 mb-2">
                <ngx-avatars [value]="item?.enquiry_items?.length" size="40" textSizeRatio="2" [round]="false"
                  [cornerRadius]="'5'" [bgColor]="'#3498db'"></ngx-avatars>
                <div>
                  <h6 class="mb-0 fw-bold">Products</h6>
                  <small class="text-muted">Enquired Items</small>
                </div>
              </div>

              <hr class="my-2 text-body-tertiary">

              <div class="amount-box p-2 grid align-items-center justify-content-center text-center gap-2">
                <h2 class="mb-0 fs-18 fw-bold text-red-400">
                  {{ item?.customer?.walletBalance || 0 | currency:'USD':'symbol':'1.3-3' }}
                </h2>
                <small class="text-muted d-block">Outstanding Amount</small>
              </div>
            </div>

            <!-- Product list column -->
            <div class="col-8 bg-light rounded-sm p-1">
              <div class="products-scroll-wrapper position-relative"
                [class.scrollable]="item.enquiry_items?.length > 2">
                <div class="products-list">
                  @for(enquireItem of item.enquiry_items; track enquireItem){
                  <div
                    class="product-row d-flex align-items-center gap-2 border border-gray-400 bg-white rounded-md shadow-sm p-2 mb-2">
                    <span
                      class="avatar-sm rounded-circle bg-light-subtle d-flex align-items-center justify-content-center flex-shrink-0">
                      <i class="ri-shopping-basket-line text-primary"></i>
                    </span>
                    <div class="flex-grow-1 text-truncate">
                      <div class="d-flex align-items-center gap-2 text-truncate">
                        <span
                          class="badge bg-primary-subtle text-primary">{{enquireItem?.product?.code | uppercase}}</span>
                        <span class="fw-semibold text-truncate">{{enquireItem?.product?.name}}</span>
                      </div>
                      <small class="text-muted">Req.Qty : {{enquireItem?.qty}}</small>
                    </div>
                    <i class="ri-arrow-right-s-line text-muted"></i>
                  </div>
                  }
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      }
      } @else {
      <lib-norecord title="No Enquiries Found"
        subTitle="We couldn't find any enquiries. Please add new enquiries to see them here."></lib-norecord>
      }
    </div>
  </div>
  <div class="card-footer bg-light-subtle text-end">
    <button type="button" class="btn btn-outline-secondary me-2" aria-label="Cancel" (click)="closeView()">
      {{ 'close' | titlecase }}
    </button>
  </div>
</div>