<div class="card">
  <div class="card-header align-items-center d-flex">
    <h4 class="card-title mb-0 flex-grow-1">Recent Enquiries</h4>
  </div>

  <div class="card-body">
    <div class="table-responsive table-card">
      <table class="table table-borderless table-centered align-middle table-nowrap mb-0">
        <thead class="text-muted table-light">
          <tr>
            <th scope="col">Enquiry Number</th>
            <th scope="col">Date</th>
            <th scope="col">Items</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>
          @if(user && user.latest_enquiries && user.latest_enquiries.length > 0) {
          @for(enquiry of user.latest_enquiries; track enquiry) {
          <tr>
            <td>
              <a href="javascript:void(0);" class="fw-medium link-primary">{{ enquiry.code | uppercase}}</a>
            </td>
            <td>{{ enquiry.created_at | date:'dd MMM yyyy' }}</td>
            <td>{{ enquiry?.itemsCount || 'N/A' }}</td>
            <td>
              <div class="grid text-end cursor-pointer">
                <span class="badge border border-secondary text-secondary" [ngClass]="{
                  'border-success text-success': enquiry.state === 'ordered',
                  'border-primary text-primary': enquiry.state === 'pending',
                  'border-danger text-danger': enquiry.state === 'rejected',
                  'border-secondary text-secondary': enquiry.state === 'quoted'}">
                  {{ enquiry.state || 'Pending' | titlecase }}
                </span>
              </div>
            </td>
          </tr>
          }
          } @else {
          <tr>
            <td colspan="4" class="text-center px-4 py-2">
              <div class="grid border border-dashed border-2 p-3 rounded-2">
                <i class="ri-information-line fs-24 text-muted"></i>
                <h6 class="text-muted text-bold">No Records !!!</h6>
                <span class="text-muted">No Recent enquiries found...</span>
              </div>
            </td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>